body {
  height: 100vh;
}

.header-logo {
  margin: 16px;
  height: 30px;
}

.main-logo {
  margin-top: 3rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  max-width: 800px;
}

.question-container {
  margin-top: 1rem;
}

.start-page-buttons-container {
  display: flex;
  gap: 16px;
  width: 300px;
  height: 150px;
  margin-top: 2rem;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choices-view-button-left {
  width: 100%;
  background-color: #0097b2;
  border-radius: 50px 5px 5px 50px;
  font-size: 2rem;
}

.choices-view-button-left-span {
  position: relative;
  left: 5px;
}

.choices-view-button-right {
  width: 100%;
  background-color: #004aad;
  border-radius: 5px 50px 50px 5px;
  font-size: 2rem;
}

.choices-view-button-right-span {
  position: relative;
  right: 5px;
}

.answers-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.answers-container :nth-child(4) {
  margin-bottom: 2rem;
}

.no-answer {
  background-color: black;
}

button:disabled {
  opacity: 80%;
  cursor: not-allowed;
}

.scoreview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Loader animation */

/* Define the rotating animation using @keyframes */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Style for the rotating image */
.rotating-image {
  width: 100px; /* Adjust the size of your image */
  height: 100px;
  animation: rotate 1.5s linear infinite; /* Rotate every 1.5s infinitely */
}

/* Container style for the loader */
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

/* Image jump-in animation */

@keyframes jumpInFromDistance {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

img.jump-in-distance {
  animation: jumpInFromDistance 1s ease-out forwards;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
