body {
  height: 100vh;
}

html {
  font-size: 16px;
}

.header-logo {
  margin: 16px;
  height: 30px;
}

.codequiz-title-text {
  font-size: 3rem;
}

.main-logo {
  margin-top: 3rem;
}

.choose-your-quiz-text {
  margin-top: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  max-width: 800px;
}

.AI-inputs {
  margin-top: 3rem;
}

.AI-generator-button {
  width: 100%;
}

.question-container {
  margin-top: 1rem;
  width: 100%;
}

.react-markdown-wrapper {
  margin-top: 1rem;
  width: 100%;
}

/* stops the overflow of the text in the code examples
 */
.xml {
  text-wrap: auto;
}

pre {
  margin: 0;
  white-space: pre-wrap; /* Allows wrapping of long lines */
  word-wrap: break-word; /* Breaks the long word and wraps it */
  overflow-wrap: break-word; /* Same as word-wrap, but more modern */
  word-break: break-word; /* Ensures long words break when necessary */
}

/* stops the overflow of the text in the code examples
 */
code {
  text-wrap: auto;
  display: inline-block;
  word-wrap: break-word; /* Allows wrapping of long words inside inline code */
}

/* stops the overflow of the text in the code examples
 */
span {
  text-wrap: auto;
}

code .language-javacript {
  text-wrap: auto;
}


.example-number-text {
  font-size: 0.6rem;
}

.start-page-buttons-container {
  display: flex;
  gap: 16px;
  width: 15rem;
  height: 150px;
  margin-top: 2rem;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.quiz-container-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}


.choices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choices-view-button-left {
  width: 100%;
  background-color: #0097b2;
  border-radius: 50px 5px 5px 50px;
  font-size: 2rem;
}

.choices-view-button-left-span {
  position: relative;
  left: 5px;
}

.choices-view-button-right {
  width: 100%;
  background-color: #004aad;
  border-radius: 5px 50px 50px 5px;
  font-size: 2rem;
}

.choices-view-button-right-span {
  position: relative;
  right: 5px;
}

.answers-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.answer-buttons {
  background-color: #e7e7ea;
  color: black;
  border: none;
  box-shadow: aliceblue;
}

.answer-buttons:hover {
  box-shadow: 1px 3px 5px rgb(0 0 0 / 28%);
}

.answers-container :nth-child(4) {
  margin-bottom: 2rem;
}

.next-question-button {
  padding: 12px;
}

.explanation-button-text-container {
  margin-top: 1rem;
  width: 100%;
}

.explanation-button {
  width: 100%;
  padding: 12px;
  background-color: white;
  color: #000000a3;
  margin-bottom: 1rem;
}

.explanation-text-container {
  font-size: 0.875em;
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  background-color: #f8f8fe;
  padding: 1rem;
  border-radius: 5px;
}

.see-score-button {
  width: 100%;
  margin-top: 1rem;
  padding: 12px;
}

button:disabled {
  opacity: 80%;
  cursor: not-allowed;
}

.scoreview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-again-button {
  margin-top: 2rem;
}

/* Loader animation */

/* Define the rotating animation using @keyframes */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Style for the rotating image */
.rotating-image {
  width: 100px; /* Adjust the size of your image */
  height: 100px;
  animation: rotate 1.5s linear infinite; /* Rotate every 1.5s infinitely */
}

/* Container style for the loader */
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

/* Image jump-in animation */

@keyframes jumpInFromDistance {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

img.jump-in-distance {
  animation: jumpInFromDistance 1s ease-out forwards;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

/* Confetti fade-out */

.fade-out {
  opacity: 0 !important; /* Set opacity to 0 when fade-out class is applied */
  transition: opacity 3s ease-out; /* Gradually fade out over 3 seconds */
}

.react-confetti {
  transition: opacity 3s ease-out; /* Add transition for smooth opacity change */
}

/* media queries */

@media only screen and (max-width: 480px) {
  .codequiz-title-text {
    font-size: 2.5rem;
  }

  .main-logo {
    max-width: 15rem;
  }

  .start-page-buttons-container {
    width: 11rem;
  }

  .choices-view-button-left-span {
    left: 0;
  }

  .choices-view-button-right-span {
    right: 0;
  }

  .react-markdown-wrapper {
    font-size: 10px;
  }
}

@media only screen and (max-width: 375px) {
  .react-markdown-wrapper {
    font-size: 9px;
  }
}
